.footer__column-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
}

.footer__column-link:hover {
  opacity: 0.6;
}
